.theme-dark {
    --c-bg: hsl(240, 21%, 15%);
    --c-bg-dim: hsl(240, 15%, 10%);
    --c-bg-hl: hsl(250, 25%, 20%);    

    --c-text: hsl(0, 0%, 80%);
    --c-text-dim: hsl(0, 0%, 100%);
    --c-text-hl: hsl(0, 0%, 100%);

    --c-accent-dim: hsl(260, 40%, 32%);
    --c-accent: hsl(271, 57%, 42%);
    --c-accent-hl: hsl(275, 60%, 60%);

    --c-border: var(--c-bg-hl);
    --c-border-dim: var(--c-bg-dim);

    --c-button-bg-hover: color-mix(in srgb, transparent, var(--c-accent-hl) 10%);    
}

* {
    box-sizing: border-box;

    --font-mono: 'Maple Mono NF', monospace;
    --font-sans: 'Inter', sans-serif;    
}

body {
    margin: 10px auto;
    width: 800px;
    padding: 0;
    font-family: var(--font-sans);
    background: var(--c-bg-dim);
    color: var(--c-text);
}

button {
    font-family: var(--font-mono);
    font-size: 1rem;
    
    margin: 0.5rem;
    padding: 0.5rem 1rem;

    border: 1px solid var(--c-accent);
    color: var(--c-accent);
    background: var(--c-bg-dim);
    border-radius: 0.25rem;
    cursor: pointer;    
    transition: all 0.1s;
}

p {
    margin: 0.5rem;

}

button:hover {
    background: var(--c-button-bg-hover);
    color: var(--c-accent-hl);
    border-color: var(--c-accent-hl);
    transform: translateY(-1px);
    box-shadow: 0 2px 0 0px var(--c-accent-hl);
}

button:active {
    background: var(--c-accent-hl);
    color: var(--c-bg-dim);
    border-color: var(--c-accent-hl);
    box-shadow: 0 0 0 0px var(--c-accent-hl);
    transform: translateY(2px);
    transition-duration: 0.05s;
}