<html>
  <head>
    <link rel="stylesheet" href="/res/style/style.css">        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script lang="javascript">      
      const pageUriPrefix = "/page";
      const titleSuffix = " - solrunners";
      
      let abortController = new AbortController()
      let abortSignal = abortController.signal
      
      let activePage = window.location.pathname;      

      window.onload = function() {
        const uri = window.location.pathname;
        navContent(uri, false);
      }

      addEventListener("popstate", (event) => {
        const uri = event.state.uri;
        navContent(uri, false);
      });

      function updateNavButton(uri) {
        const oldNavButton = document.getElementById("button-" + activePage)
        if (oldNavButton) {
          oldNavButton.classList.remove("selected");
        }

        const newNavButton = document.getElementById("button-" + uri)
        if (newNavButton) {
          newNavButton.classList.add("selected");
        }
                
        activePage = uri;        
      }

      async function navContent(uri, addHistory = true) {
        if (addHistory) {
          if (uri === activePage) {
            return;
          }
          window.history.pushState({uri: uri}, "", uri);
        }

        abortController.abort();
        abortController = new AbortController();
        abortSignal = abortController.signal;

        updateNavButton(uri);

        const spinner = document.getElementById("spinner");
        const content = document.getElementById("content-inner");  

        content.classList.add("hidden");
        await new Promise(r => setTimeout(r, 300));
        spinner.classList.remove("hidden");

        const contentUri = pageUriPrefix + uri;        
        console.log("Fetching " + contentUri);

        fetch(contentUri, { method: 'get', signal: abortSignal })
          .then(response => response.text())
          .then(text => {            
            content.innerHTML = text;
            
            content.classList.remove("hidden");
            spinner.classList.add("hidden");
          })
          .catch(error => {
            console.error("Error fetching " + contentUri);
            console.error(error);
          });
      }
    </script>
  </head>
  <body class="theme-dark">        
      {{ navbar | safe }}
    <div id="content">
      {{ placeholder | safe }}
      <div id="content-inner" class="hidden"></div>      
    </div>
    <div class="copyright-notice">
      <p>Copyleft solrunners project 2024.</p>
      <br>
      <p>Code snippets & website source code licensed under AGPL-3.0.</p>            
      <p>"runners" zine, artwork and website content licensed under CC-BY-SA-4.0.</p>
      
    </div>
  </body>
</html>