@import url('./Inter-woff2/inter.css');

@font-face {
  font-family: Maple Mono;
  src: url('./MapleMono-ttf/MapleMono-Regular.ttf') format('truetype'),
       url('./MapleMono-woff2/MapleMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Maple Mono;
  src: url('./MapleMono-ttf/MapleMono-Bold.ttf') format('truetype'),
       url('./MapleMono-woff2/MapleMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Maple Mono;
  src: url('./MapleMono-ttf/MapleMono-Italic.ttf') format('truetype'),
       url('./MapleMono-woff2/MapleMono-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Maple Mono;
  src: url('./MapleMono-ttf/MapleMono-BoldItalic.ttf') format('truetype'),
       url('./MapleMono-woff2/MapleMono-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
    font-family: Maple Mono;
    src: url('./MapleMono-ttf/MapleMono-Light.ttf') format('truetype'),
         url('./MapleMono-woff2/MapleMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Maple Mono;
    src: url('./MapleMono-ttf/MapleMono-LightItalic.ttf') format('truetype'),
         url('./MapleMono-woff2/MapleMono-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}