* {
    --ansi-black: #000000;
    --ansi-red: #800000;
    --ansi-green: #008000;
    --ansi-yellow: #808000;
    --ansi-blue: #000080;
    --ansi-magenta: #800080;
    --ansi-cyan: #008080;
    --ansi-white: #c0c0c0;
    --ansi-bright-black: #808080;
    --ansi-bright-red: #ff0000;
    --ansi-bright-green: #00ff00;
    --ansi-bright-yellow: #ffff00;
    --ansi-bright-blue: #0000ff;
    --ansi-bright-magenta: #ff00ff;
    --ansi-bright-cyan: #00ffff;
    --ansi-bright-white: #ffffff;
}

.zine-ansi {
    & > c000 { color: var(--ansi-black) }
    & > c001 { color: var(--ansi-red) }
    & > c002 { color: var(--ansi-green) }
    & > c003 { color: var(--ansi-yellow) }
    & > c004 { color: var(--ansi-blue) }
    & > c005 { color: var(--ansi-magenta) }
    & > c006 { color: var(--ansi-cyan) }
    & > c007 { color: var(--ansi-white) }
    & > c008 { color: var(--ansi-bright-black) }
    & > c009 { color: var(--ansi-bright-red) }
    & > c010 { color: var(--ansi-bright-green) }
    & > c011 { color: var(--ansi-bright-yellow) }
    & > c012 { color: var(--ansi-bright-blue) }
    & > c013 { color: var(--ansi-bright-magenta) }
    & > c014 { color: var(--ansi-bright-cyan) }
    & > c015 { color: var(--ansi-bright-white) }
    & > c016 { color: #000000 }
    & > c017 { color: #00005f }
    & > c018 { color: #000087 }
    & > c019 { color: #0000af }
    & > c020 { color: #0000d7 }
    & > c021 { color: #0000ff }
    & > c022 { color: #005f00 }
    & > c023 { color: #005f5f }
    & > c024 { color: #005f87 }
    & > c025 { color: #005faf }
    & > c026 { color: #005fd7 }
    & > c027 { color: #005fff }
    & > c028 { color: #008700 }
    & > c029 { color: #00875f }
    & > c030 { color: #008787 }
    & > c031 { color: #0087af }
    & > c032 { color: #0087d7 }
    & > c033 { color: #0087ff }
    & > c034 { color: #00af00 }
    & > c035 { color: #00af5f }
    & > c036 { color: #00af87 }
    & > c037 { color: #00afaf }
    & > c038 { color: #00afd7 }
    & > c039 { color: #00afff }
    & > c040 { color: #00d700 }
    & > c041 { color: #00d75f }
    & > c042 { color: #00d787 }
    & > c043 { color: #00d7af }
    & > c044 { color: #00d7d7 }
    & > c045 { color: #00d7ff }
    & > c046 { color: #00ff00 }
    & > c047 { color: #00ff5f }
    & > c048 { color: #00ff87 }
    & > c049 { color: #00ffaf }
    & > c050 { color: #00ffd7 }
    & > c051 { color: #00ffff }
    & > c052 { color: #5f0000 }
    & > c053 { color: #5f005f }
    & > c054 { color: #5f0087 }
    & > c055 { color: #5f00af }
    & > c056 { color: #5f00d7 }
    & > c057 { color: #5f00ff }
    & > c058 { color: #5f5f00 }
    & > c059 { color: #5f5f5f }
    & > c060 { color: #5f5f87 }
    & > c061 { color: #5f5faf }
    & > c062 { color: #5f5fd7 }
    & > c063 { color: #5f5fff }
    & > c064 { color: #5f8700 }
    & > c065 { color: #5f875f }
    & > c066 { color: #5f8787 }
    & > c067 { color: #5f87af }
    & > c068 { color: #5f87d7 }
    & > c069 { color: #5f87ff }
    & > c070 { color: #5faf00 }
    & > c071 { color: #5faf5f }
    & > c072 { color: #5faf87 }
    & > c073 { color: #5fafaf }
    & > c074 { color: #5fafd7 }
    & > c075 { color: #5fafff }
    & > c076 { color: #5fd700 }
    & > c077 { color: #5fd75f }
    & > c078 { color: #5fd787 }
    & > c079 { color: #5fd7af }
    & > c080 { color: #5fd7d7 }
    & > c081 { color: #5fd7ff }
    & > c082 { color: #5fff00 }
    & > c083 { color: #5fff5f }
    & > c084 { color: #5fff87 }
    & > c085 { color: #5fffaf }
    & > c086 { color: #5fffd7 }
    & > c087 { color: #5fffff }
    & > c088 { color: #870000 }
    & > c089 { color: #87005f }
    & > c090 { color: #870087 }
    & > c091 { color: #8700af }
    & > c092 { color: #8700d7 }
    & > c093 { color: #8700ff }
    & > c094 { color: #875f00 }
    & > c095 { color: #875f5f }
    & > c096 { color: #875f87 }
    & > c097 { color: #875faf }
    & > c098 { color: #875fd7 }
    & > c099 { color: #875fff }
    & > c100 { color: #878700 }
    & > c101 { color: #87875f }
    & > c102 { color: #878787 }
    & > c103 { color: #8787af }
    & > c104 { color: #8787d7 }
    & > c105 { color: #8787ff }
    & > c106 { color: #87af00 }
    & > c107 { color: #87af5f }
    & > c108 { color: #87af87 }
    & > c109 { color: #87afaf }
    & > c110 { color: #87afd7 }
    & > c111 { color: #87afff }
    & > c112 { color: #87d700 }
    & > c113 { color: #87d75f }
    & > c114 { color: #87d787 }
    & > c115 { color: #87d7af }
    & > c116 { color: #87d7d7 }
    & > c117 { color: #87d7ff }
    & > c118 { color: #87ff00 }
    & > c119 { color: #87ff5f }
    & > c120 { color: #87ff87 }
    & > c121 { color: #87ffaf }
    & > c122 { color: #87ffd7 }
    & > c123 { color: #87ffff }
    & > c124 { color: #af0000 }
    & > c125 { color: #af005f }
    & > c126 { color: #af0087 }
    & > c127 { color: #af00af }
    & > c128 { color: #af00d7 }
    & > c129 { color: #af00ff }
    & > c130 { color: #af5f00 }
    & > c131 { color: #af5f5f }
    & > c132 { color: #af5f87 }
    & > c133 { color: #af5faf }
    & > c134 { color: #af5fd7 }
    & > c135 { color: #af5fff }
    & > c136 { color: #af8700 }
    & > c137 { color: #af875f }
    & > c138 { color: #af8787 }
    & > c139 { color: #af87af }
    & > c140 { color: #af87d7 }
    & > c141 { color: #af87ff }
    & > c142 { color: #afaf00 }
    & > c143 { color: #afaf5f }
    & > c144 { color: #afaf87 }
    & > c145 { color: #afafaf }
    & > c146 { color: #afafd7 }
    & > c147 { color: #afafff }
    & > c148 { color: #afd700 }
    & > c149 { color: #afd75f }
    & > c150 { color: #afd787 }
    & > c151 { color: #afd7af }
    & > c152 { color: #afd7d7 }
    & > c153 { color: #afd7ff }
    & > c154 { color: #afff00 }
    & > c155 { color: #afff5f }
    & > c156 { color: #afff87 }
    & > c157 { color: #afffaf }
    & > c158 { color: #afffd7 }
    & > c159 { color: #afffff }
    & > c160 { color: #d70000 }
    & > c161 { color: #d7005f }
    & > c162 { color: #d70087 }
    & > c163 { color: #d700af }
    & > c164 { color: #d700d7 }
    & > c165 { color: #d700ff }
    & > c166 { color: #d75f00 }
    & > c167 { color: #d75f5f }
    & > c168 { color: #d75f87 }
    & > c169 { color: #d75faf }
    & > c170 { color: #d75fd7 }
    & > c171 { color: #d75fff }
    & > c172 { color: #d78700 }
    & > c173 { color: #d7875f }
    & > c174 { color: #d78787 }
    & > c175 { color: #d787af }
    & > c176 { color: #d787d7 }
    & > c177 { color: #d787ff }
    & > c178 { color: #d7af00 }
    & > c179 { color: #d7af5f }
    & > c180 { color: #d7af87 }
    & > c181 { color: #d7afaf }
    & > c182 { color: #d7afd7 }
    & > c183 { color: #d7afff }
    & > c184 { color: #d7d700 }
    & > c185 { color: #d7d75f }
    & > c186 { color: #d7d787 }
    & > c187 { color: #d7d7af }
    & > c188 { color: #d7d7d7 }
    & > c189 { color: #d7d7ff }
    & > c190 { color: #d7ff00 }
    & > c191 { color: #d7ff5f }
    & > c192 { color: #d7ff87 }
    & > c193 { color: #d7ffaf }
    & > c194 { color: #d7ffd7 }
    & > c195 { color: #d7ffff }
    & > c196 { color: #ff0000 }
    & > c197 { color: #ff005f }
    & > c198 { color: #ff0087 }
    & > c199 { color: #ff00af }
    & > c200 { color: #ff00d7 }
    & > c201 { color: #ff00ff }
    & > c202 { color: #ff5f00 }
    & > c203 { color: #ff5f5f }
    & > c204 { color: #ff5f87 }
    & > c205 { color: #ff5faf }
    & > c206 { color: #ff5fd7 }
    & > c207 { color: #ff5fff }
    & > c208 { color: #ff8700 }
    & > c209 { color: #ff875f }
    & > c210 { color: #ff8787 }
    & > c211 { color: #ff87af }
    & > c212 { color: #ff87d7 }
    & > c213 { color: #ff87ff }
    & > c214 { color: #ffaf00 }
    & > c215 { color: #ffaf5f }
    & > c216 { color: #ffaf87 }
    & > c217 { color: #ffafaf }
    & > c218 { color: #ffafd7 }
    & > c219 { color: #ffafff }
    & > c220 { color: #ffd700 }
    & > c221 { color: #ffd75f }
    & > c222 { color: #ffd787 }
    & > c223 { color: #ffd7af }
    & > c224 { color: #ffd7d7 }
    & > c225 { color: #ffd7ff }
    & > c226 { color: #ffff00 }
    & > c227 { color: #ffff5f }
    & > c228 { color: #ffff87 }
    & > c229 { color: #ffffaf }
    & > c230 { color: #ffffd7 }
    & > c231 { color: #ffffff }
    & > c232 { color: #080808 }
    & > c233 { color: #121212 }
    & > c234 { color: #1c1c1c }
    & > c235 { color: #262626 }
    & > c236 { color: #303030 }
    & > c237 { color: #3a3a3a }
    & > c238 { color: #444444 }
    & > c239 { color: #4e4e4e }
    & > c240 { color: #585858 }
    & > c241 { color: #606060 }
    & > c242 { color: #666666 }
    & > c243 { color: #767676 }
    & > c244 { color: #808080 }
    & > c245 { color: #8a8a8a }
    & > c246 { color: #949494 }
    & > c247 { color: #9e9e9e }
    & > c248 { color: #a8a8a8 }
    & > c249 { color: #b2b2b2 }
    & > c250 { color: #bcbcbc }
    & > c251 { color: #c6c6c6 }
    & > c252 { color: #d0d0d0 }
    & > c253 { color: #dadada }
    & > c254 { color: #e4e4e4 }
    & > c255 { color: #eeeeee }
}